.footer {
  background: #202020;
  padding: 40px 0;
  &__column {
    display: flex;
  }
  &__social {
    justify-content: flex-start;
    @include mobile {
      justify-content: center;
      margin-bottom: 10px;
    }
  }
  &__copyrights {
    justify-content: flex-end;
    @include mobile {
      justify-content: center;
    }
  }
  &__copyrights-copy {
    @include OpenSans;
    font-weight: 600;
    font-size: 14px;
    color: #999999;
    margin-bottom: 0;
  }
  &__social {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    &-item {
      display: inline-block;
      color: #fff;
      padding: 0 5px;
      cursor: pointer;
      @include desktop {
        &:hover a {
          color: #e74c3c;
        }
      }
      a {
        color: #fff;
        cursor: pointer;
        transition: all .5s;
      }
    }
  }
}
